{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickHeadlines</title>
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <h1 class="site-name">
            <span style="color: #D4E7FE;">Quick</span><span style="color: #FF534F;">Headlines</span>
        </h1>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <span class="hr">|</span>
            <li><a href="{% url 'category_news' category='international' %}">International</a></li>
            <span class="hr">|</span>
            <li><a href="{% url 'category_news' category='science-technology' %}">Science</a></li>
            <span class="hr">|</span>
            <li><a href="{% url 'category_news' category='business' %}">Business</a></li>
            <span class="hr">|</span>
            <li><a href="{% url 'category_news' category='sports' %}">Sports</a></li>
            <span class="hr">|</span>
            <li><a href="{% url 'category_news' category='middle-east-international' %}">Middle-East</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>{{ category|title }} News</h1>
        <ul>
            {% for item in news %}
            <div class="news-item">
                <h2>{{ item.title }}</h2>
                <p class="news-meta">
                    <span><strong>Category:</strong> {{ item.category }}</span> |
                    <span><strong>Published:</strong> {{ item.published_date }}</span>
                </p>
                {% if item.image %}
                <img src="{{ item.image }}" alt="{{ item.title }}">
                {% endif %}
                <p class="description">{{ item.description }}</p>
                <p><strong>Author:</strong> {{ item.author }}</p>
            </div>
            {% endfor %}
        </ul>
    </div>
</body>

</html>